h1 {
    text-align: center;
    font-family: cursive;
    font-size: 100px;
    color: whitesmoke;
  }
  
  h2 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: whitesmoke;
  }
  
  .winterh1 {
     text-align: center;
     font-style: italic;
     font-size: 50px;
     color: rgb(112, 3, 3); 
  }
  
  .content {
      font-size: 20px;
      color: black;
  }
  
  .fashion {
      align-items: center;
      min-height: 400px;
      overflow: auto;
      width: 50%;
      background-color: rgb(236, 242, 243);
      margin: auto;
      border: 3px solid rgb(8, 8, 8);
      padding:90px;
  }
  
  
